<h1>Welcome to roshamboitron</h>
  <form action="/winner">
    <div class="form-group">
      <label for="player2">player 2 enter your choice</label>
      <input id="player2" name="player2" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Send</button>
  </form>
